@tailwind base;
@tailwind components;
@tailwind utilities;

/* a.active hr {
  display: block;
}

a.active {
  color: black;
  font-weight: bold;
} */

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

/* Desktops */
@media (max-width: 1600px) {
  .itemContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .itemContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}

/* Phones */
@media (max-width: 600px) {
  .itemContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .image {
    aspect-ratio: 3/5;
    object-fit: cover;
  }
}
